<div>
  <form [formGroup]="createCharForm" (ngSubmit)="onSubmit()">
    <div>
      <label> Vorname: </label>
      <input type="text" formControlName="firstname" min="4" required />
      <div
        *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)"
        class="invalid-feedback"
      >
        <div *ngIf="firstname.errors.required">Ein Name wird benötigt</div>
        <div *ngIf="firstname.errors.minlength">
          Der Name muss mindestens 4 Zeichen lang sein.
        </div>
      </div>
    </div>
    <div>
      <label> Nachname: </label>
      <input type="text" formControlName="lastname" min="4" required />
      <div
        *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)"
        class="invalid-feedback"
      >
        <div *ngIf="lastname.errors.required">Ein Name wird benötigt</div>
        <div *ngIf="lastname.errors.minlength">
          Der Name muss mindestens 4 Zeichen lang sein.
        </div>
      </div>
    </div>
    <label>
      Age :
      <input type="number" formControlName="age" min="12" max="21" required />
      <div
        *ngIf="age.invalid && (age.touched || age.dirty)"
        class="invalid-feedback"
      >
        <div *ngIf="age.errors.required">Ein Alter wird benötigt</div>
        <div *ngIf="age.errors.min">Minimal Alter ist ...</div>
        <div *ngIf="age.errors.max">Maximal Alter ist ...</div>
      </div>
    </label>
    <button type="submit" [disabled]="!createCharForm.valid">Submit</button>
  </form>
  <p>Form Status: {{ createCharForm.status }}</p>
</div>
