<header>
    <ul>
        <li>
            <a [routerLink]="['/']" (click)="setTitle('NarutoRPG')">NarutoRPG</a>
        </li>
        <li *ngIf="!auth.isAuthenticated()">
            <a [routerLink]="['/center']" routerLinkActive="active" (click)="setTitle('Center - NarutoRPG')">Center</a>
        </li>
        <li>
            <a [routerLink]="['/login']" routerLinkActive="active" (click)="setTitle('Login - NarutoRPG')">Login</a>
        </li>
        <li>
            <a [routerLink]="['/register']" routerLinkActive="active" (click)="setTitle('Anmeldung - NarutoRPG')">Anmeldung</a>
        </li>
        <li>
            <a [routerLink]="['/logout']" routerLinkActive="active" (click)="setTitle('Abmeldung - NarutoRPG')">Abmeldung</a>
        </li>
    </ul>
</header>