body {
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
    background-color: #b0cfac;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.login{
    color: white;
}
.nav_border{
    border-left:1px
    //  solid #00
}