<header>
    <ul>
        <li>
            <a [routerLink]="['/']" (click)="setTitle('Title')">Home</a>
        </li>
        <li>
            <a [routerLink]="['/center']" routerLinkActive="active" (click)="setTitle('Center')">Center</a>
        </li>
        <li>
            <a [routerLink]="['/register']" routerLinkActive="active" (click)="setTitle('Registrierung')">Register</a>
        </li>
        <li *ngIf="auth.isAuthenticated()">
            <a [routerLink]="['/logout']" routerLinkActive="active" (click)="setTitle('Abmeldung')">Logout</a>
        </li>
        <li *ngIf="!auth.isAuthenticated()">
            <a [routerLink]="['/login']" routerLinkActive="active" (click)="setTitle('Anmeldung')">Login</a>
        </li>
    </ul>
</header>