.grid{
    display: grid;
    // grid-template-rows: 10vh, 80vh, 10vh;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: 
    'nav nav chars'
    'left content right'
    'left footer footer'
    ;
}

.nav{
    grid-area: nav;
}

.charchoose{
    grid-area: chars;
}

.left{
    grid-area: left;
}

.content{
    grid-area: content;
}

.right{
    grid-area: right;
}

.footer{
    grid-area: footer;
}