<div>
  <form [formGroup]="trainForm">
    <div
      *ngFor="let element of formHolder | keyvalue"
      formGroupName="{{ element.key }}"
    >
      <label>{{ element.value }}</label>
      <input
        type="number"
        formControlName="value"
        min="{{ charavalue[element.key] }}"
        value="{{ trainForm.value[element.key]['value'] }}"
      />
      <button
        type="submit"
        [disabled]="
          !trainForm.valid ||
          charavalue.str == null ||
          doubletrainCheck ||
          mintrainCheck
        "
      >
        Submit
      </button>
    </div>
  </form>
</div>
