<div *ngIf="activTrain">
  Aktives Training: {{ activTrain.key }} für {{ activTrain.value }} Tag(e)
  <button (click)="onDelete()">Abbrechen</button>
</div>
<div *ngIf="baseTrainValues">
  <form [formGroup]="trainForm">
    <div
      *ngFor="let element of formHolder | keyvalue"
      formGroupName="{{ element.key }}"
    >
      <label>{{ element.value }}</label>
      {{ baseTrainValues[element.key] }} {{ element.value }} pro Tag
      <input
        type="number"
        formControlName="value"
        min="{{ charavalue[element.key] }}"
        value="{{ trainForm.value[element.key]['value'] }}"
      />
      <button
        type="submit"
        [disabled]="
          !trainForm.valid ||
          charavalue[element.key] == trainForm.value[element.key]['value'] ||
          charavalue.str == null ||
          doubletrainCheck ||
          mintrainCheck
        "
        (click)="onSubmit(element.key)"
      >
        Trainieren
      </button>
      <div *ngIf="checkTrainCustomValue(element.key)">
        {{ getTrainDays(element.key) }} Tag(e) bis Ziel erreicht.
      </div>
    </div>
  </form>
</div>
