<main role="main">
    <b>Willkommen</b><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur optio labore, autem, laboriosam, provident
    explicabo ipsa tempora ipsum reiciendis incidunt expedita fuga itaque pariatur cumque quia porro deserunt vel nobis.
    <br><br><a href='del.php'>Gelöschte User</a>
    <br><br>
    <table border='0' width='700'>
        <tr>
            <td background='/layouts/Uebergang/Oben2.png'><b>Seite:</b>
            </td>
        </tr>
    </table><br>
    "News Placeholder"
    <table border='0' width='700'>
        <tr>
            <td background='/layouts/Uebergang/Oben2.png'><b>Seite:</b></td>
        </tr>
    </table><br>
</main>