<main role="main">

    <b>Willkommen auf www.narutorpg.de</b><br>
    narutorpg.de ist ein Chat basierendes Rollenspiel in der Welt des Anime/Manga Naruto. Hier könnt ihr euch einen
    Ninja-Anwärter
    erstellen und mit diesem euren eigenen Ninjaweg beschreiten. Ihr startet als Akademist an der Ninja Akademie und
    könnt euch von
    dort an bis zum Anführer eures Dorfes hocharbeiten. Oder ihr wendet euch von eurem Land ab und geht anderen Zielen
    nach.
    <br><br><a href='del.php'>Gelöschte User</a>
    <br><br>
    <table border='0' width='700'>
        <tr>
            <td background='/layouts/Uebergang/Oben2.png'><b>Seite:</b>
            </td>
        </tr>
    </table><br>
    <table border='0' width='700'>
        <tr>
            <td background='/layouts/Uebergang/Oben2.png'><b>Seite:</b></td>
        </tr>
    </table><br>
</main>