<h2>Login</h2>
<form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
    <div class="form-group">
        <label for="username">Username</label>
        <input type="username" [(ngModel)]="user.name" name="name" id="username"  >
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password" name="password" id="password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
</form>