<main roles="main">
    <div class='Stil2'>
        <div> Login
            <b>(Cookies müssen aktiviert sein!):</b><br /><br />
            <form name="login" method="post" action="Log.php">
                <p>Login:
                    <input name="login" type="text">
                    <br />
                    Passwort:
                    <input name="password" type="password">
                    <br />
                    <input type="submit" name="Submit" value="Login">
                </p>
            </form>
            <a href="pw.php">Passwort/Loginname vergessen?</a>
        </div>
    </div>
</main>